.notShown {
  display: none;
}

.downloaderContainer {
  width: 500px;
  height: 475px;

  position: fixed;
  border: 5px solid red;
}

.downloaderContainer iframe {
  height: 400px;
  width: 99%;
}

.downloaderContainer button {
  height: 75px;
  width: 99%;

  cursor: pointer;
  background: white;
  border-top: 2px solid red;
}